node_modules/
dist/
.angular/
app/android/app/build/
app/android/build/
app/android/.gradle/
app/android/local.properties
app/android/app/src/main/assets/public/
app/android/capacitor-cordova-android-plugins/
*.keystore
*.jks
